.greetings{
    font-size: 250%;
    margin: 1%;
    /* color: red; */
    font-weight: 400;
}

.choose_subject{
    background-color: aquamarine;
    border:2px black solid;
	border-radius: 50%;
	width:200px;
	font-size: 150%;
	height: 200px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:5%;
	color: black;
	flex-direction: column; 
}

.table_choose_subject{
    margin-left: 1%;
    width: 100%;
}

.fun{
    width: 400px;
}

.topic-title{
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    margin-top: 1%;
}

.buttons{
    margin: 10px;
}
.why-study{
    position: absolute;
    left: 400px;
    top: 200px;
}
.card{
    margin-left: 5%;
    margin-top: 3%;
}

.why-study p{
    text-align:justify;
    font-size: 16pt;
    line-height: 40px;
}
.why-study h2{
    font-size: 35px;
    
}
.why-study img{
   width: 350px;
    margin-left: 15%;
}