.list-group-item{
    width: 30%;
    margin-left: 100px;;
}
#sub-topics{
    line-height: 45px;
    font-size: 30px;
    text-align: center;
}

#divTopics{
    position: absolute;
    left: 800px;
    top: 200px;
    padding: 40px 100px;
}

.sign{
    font-size: 40px;
}

.randomnum{
    font-size: 60px;
}

input{
    font-size: 60px;
    margin-left: 60px;
    width: 300px;
}

td{
    width: 75px;
}

table{
    margin-left: 60px;
    text-align: center;
}

#index{
    font-size: 45px;
    position: absolute;
    left: 600px;
    top: 200px;
}
button{
    margin-left: 60px;
}

#result{
    font-size: 50px;
    text-align: center;
}